body{
    background-image: url("https://images.pexels.com/photos/36717/amazing-animal-beautiful-beautifull.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");

    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;

}
h2{
    text-align: center;
    color:rgb(247, 247, 247);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 27px;
}
p{
    text-align: center;
    color:rgb(255, 255, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    padding:20px 30px;
    margin: 8px 30px;

}
form{
    padding: 20px 99px;
    margin: 8px 30px;
    display:flex;
    flex-direction: column;
    justify-content: center;

}
button{
    margin-top: 25px;
}
label{
    margin: 10px;
    color:aliceblue;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
label:hover{
    text-shadow: 20px 20px 30px rgb(4, 186, 247);
    text-decoration: underline;
    transition: 0.5s;
    transform-style: flat;
    cursor: pointer;
    cursor:grabbing;
    transform: scale3d(1.1,1.1,1.1);
}
input{
    box-sizing: border-box;
    
}
marquee{
    color:wheat;
    font-size: 20px;
    margin-top:20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
marquee:hover{
    color: blueviolet;
}
button:hover{
    background-color: rgb(223, 148, 255);
    color:white;
    border: 2px solid white;
    border-radius: 10px;
    font-size: 17px;
    font-weight: bold;
    transition: 0.5s;
    transform-style: flat;
    cursor: pointer;
}